<!doctype html>
<html data-ng-app="OrchidsApp">
<head>
<title>
    AngularJS HTTP GET
</title>
     
    <link href="Style.css" rel="stylesheet" type="text/css"  />
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
    <script src="Controllers.js" type="text/javascript"></script>
</head>
    
<body class="centered">
<div class="angular | title" >                  
   <h1>Orchids AngularJS App</h1>     
    <h2>List of my Favorite Orchids</h2>  
</div>      
    <div id="controls1" data-ng-controller="OrchidsCtl"> 
        
        <div class="centered"> 
            
            <button data-ng-click="fnShowOrchids(-1)"><<<<</button>
            <input type="number" data-ng-model="pageSize" max="4" min="1" value="2" />
            <button data-ng-click="fnShowOrchids(1)">>>>></button>
            
        </div> 
        
        <ul >                
            <li data-ng-repeat="Orchid in OrchidsList">   
                 <div data-ng-class="angularClass" >                         
                        
                 <img src="Images/{{Orchid.MainPicture}}" alt="{{Orchid.MainPicture}}"  > <br />           
                    <span >{{Orchid.BlogID}}  .  {{Orchid.Title | uppercase}} <br />
                            {{Orchid.Text}}   {{Orchid.DatePosted | date }}
                    </span>  
                 </div>
            </li>             
        </ul>        
               
    </div>  
    <div>AngularJS SPA App calling OData RESTful Web API</div>
    <div>(c) 2015 by Carmel Schvartzman - כרמל שוורצמן</div>
    <div>http://themvcclub.blogspot.co.il</div>
</body>
</html>
 
